log/*
temp/*
vendor/*
node_modules/*
.tmp/

.DS_Store
.idea
!.gitignore
!.htaccess
!web.config
app/config/config.local.neon

www/data/*
!www/data/index.html
!www/data/user/index.html
!www/data/knowledgebase/index.html