#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
parameters:
	article:
		types:
			- article
			- snippet
			- tutorial
			- video
			- link

	database:
		host: 127.0.0.1
		dbname: planette
		user: planette
		password:

	site:
		develMode: false
		versionName: beta2
		ssl: true

	email:
		from: planette@nette.org

	uploadUri: '/data'
	uploadDir: '%wwwDir%%uploadUri%'


extensions:
	images: Brabijan\Images\DI\ImagesExtension
	translation: Kdyby\Translation\DI\TranslationExtension
	migrations: Nextras\Migrations\Bridges\NetteDI\MigrationsExtension
	kdyby.console: Kdyby\Console\DI\ConsoleExtension

translation:
	default: cs
	fallback: [cs_CZ, cs]

images:
	assetsDir: %wwwDir%/data

migrations:
	dir: %appDir%/../migrations # migrations base directory
	driver: mysql               # pgsql or mysql
	dbal: nette               # nextras, nette, doctrine or dibi


php:
	date.timezone: Europe/Prague


nette:
	application:
		errorPresenter: "Front:Error"
		mapping:
			*: App\*Module\Presenters\*Presenter

	database:
		dsn: 'mysql:host=%database.host%;dbname=%database.dbname%'
		user: %database.user%
		password: %database.password%
		options: {lazy: yes}

	session:
		expiration: 14 days


services:
	- App\RouterFactory
	router: @App\RouterFactory::createRouter(%site.ssl%)
	- App\Model\SiteLayout(%site%)
	texy: TexyFactory::createTexy
	-
		class: App\Model\ArticleRepository
		setup:
			- setArticleTypes(%article.types%)

	- App\Model\TagRepository
	auth: App\Security\NetteOrgAuthenticator(%authKey%)

	authorizator:
		class: Nette\Security\Permission
		setup:
			- addRole('guest')
			- addRole('user')
			- addRole('admin', 'user')
			- addRole('root', 'admin')
			- addResource('Users')
			- addResource('Article')
			- allow('admin', 'Users', 'view')
			- allow('admin', 'Users', 'add')
			- allow('user', 'Article', 'add')
			- allow('user', 'Article', 'view')
			- allow('user', 'Article', 'edit')
			- allow('user', 'Article', 'like')
			- allow('admin', 'Article', 'editAll')


	- App\Model\ArticleManager
	- App\Model\UserManager
