parameters:
	site:
		develMode: true
		version: devel

	database:
		dbname: knowledgebase_devel
		user: knowledgebase
		password: mojetajneheslo

	authKey: 'bamboleeeo bamboleeea'

services:
	auth: App\Security\LocalAuthenticator #for local auth