{*
	Nette.org : #bar
*}

<div class="bar"><div>
	<ul class="projects">
		<li><a href="https://nette.org">Nette</a>
		</li><li><a href="https://tracy.nette.org">Tracy</a>
		</li><li><a href="https://latte.nette.org">Latte</a>
		</li><li><a href="https://tester.nette.org">Tester</a>
		</li><li><a href="http://ne-on.org">Neon</a>
	</li></ul>

	<ul class="user">
		<li><a href="https://addons.nette.org/"><span>Add-ons</span></a>
		</li><li><a href="/" class="active"><span>Planette</span></a>
		</li><li><a href="https://forum.nette.org/cs/"><span>Forum</span></a>
		</li><li><a href="https://blog.nette.org"><span>Blog</span></a>
		</li><li><a href="https://nette.org/donate"><span>Donate</span></a>
		</li><li>
		<form action="http://www.google.com/cse" class="search" novalidate="">
			<input type="hidden" name="cx" value="011549293477758430224:vxofa9ufnhc"><input type="hidden" name="ie" value="UTF-8"><input type="search" name="q" class="text ac_input" size="30" placeholder="Search" autocomplete="off"><input type="image" src="https://files.nette.org/images/search.png" alt="Search">
		</form>
		</li>
	</ul>
</div></div>