{*
	Nette.org : footer
*}

<footer id="footer">
	<p>© 2008, 2015 <a href="http://nettefoundation.com">Nette Foundation</a> | <a href="http://www.php-fg.org">PHP Coding Guidelines</a>
		| <a href="http://nette.org/terms-of-use">Terms of use</a> | If not stated otherwise, the contents are licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/cz/">Creative Commons CC-BY-SA</a>.</p>
</footer>
