{*
	Nette.org : header
*}

<header id="header">
	<a id="logo" title="Homepage" href="http://nette.org/en/"><span>Homepage</span></a>

	<nav id="menu">

		<ul>
			<li><a href="http://nette.org/en/download">Download</a></li>

			<li class="item-doc"><a href="http://doc.nette.org/en/">Documentation</a></li>
		</ul>

	</nav>
</header>
