{*
	Nette.org : header
*}

<header class="header">
	<a id="logo" title="Homepage" href="https://nette.org/en/"><span>Homepage</span></a>

	<nav id="menu">

		<ul>
			<li><a href="https://nette.org/en/download">Download</a></li>

			<li class="item-doc"><a href="https://doc.nette.org/en/">Documentation</a></li>
		</ul>

	</nav>
</header>
