newArticle: "Vytvořit nový článek"
drafts: "Drafty"
cs: "CZ"
en: "EN"
login: "Přihlášení"
logout: "Odhlášení"
editArticle: "Editovat článek: "
documentIsDraft: "dokument je draft"
afterSaveIsVisibleOnlyForAuthor: "(po uložení je viditelný pouze autorovi)"
saveArticleForAddImage: "uložte článek a můžete k němu připojit obrázek"
backToArticle: "zpět na články"
cancel: "Zrušit"
edit: "Editovat"
translateArticle: "přeložit článek"
created: "Vytvořeno:"
lastModified: "Poslední modifikace:"


nav:
	tutorial: "Tutoriály"
	article: "Články"
	snippet: "Snippety"
	video: "Videa"
	link: "Odkazy"

forms:
	createArticle:
		title: "Titulek:"
		title-r: "Vyplňte titulek."
		content: "Obsah:"
		content-r: "Vyplňte obsah"
		draft: "Draft"
		czech: "česky"
		english: "anglicky"
		language: "Jazyk:"
		type: "Typ:"
		tags: "Tagy:"
		file: "Soubor:"
		file-r: "Vyberte obrázek"
		filenote: "Popis obrázku"
		save: "Uložit"
		saveAndViewArticle: "Uložit a vidět článek"
		saveArticle: "Uložit článek"
		article: "Článek"
		snippet: "Snippet"
		tutorial: "Tutoriál"
		video: "Video"
		link: "Odkaz"

flash:
	articleWasAdded: "Článek byl přidán"
	imageWasUploaded: "Obrázek byl nahrán"
	articleWasUpdated: "Článek byl aktualizován"