newArticle: "Create new article"
drafts: "Drafts"
cs: "CZ"
en: "EN"
login: "Login"
logout: "Logout"
editArticle: "Edit article: "
documentIsDraft: "document is draft"
afterSaveIsVisibleOnlyForAuthor: "(after save is visible only for author)"
saveArticleForAddImage: "save article for add image"
backToArticle: "back to article"
cancel: "Cancel"
edit: "Edit"
translateArticle: "translate article"
created: "Created:"
lastModified: "Last modified:"


nav:
	tutorial: "Tutorials"
	article: "Articles"
	snippet: "Snippets"
	video: "Videos"
	link: "Links"

forms:
	createArticle:
		title: "Title:"
		title-r: "Please enter title."
		content: "Content:"
		content-r: "Please enter content."
		draft: "Draft"
		czech: "czech"
		english: "english"
		language: "Language:"
		type: "Type:"
		tags: "Tags:"
		file: "File:"
		file-r: "Please select image file"
		filenote: "File description"
		save: "Save"
		saveAndViewArticle: "Save and view article"
		saveArticle: "Save article"
		article: "Article"
		snippet: "Snippet"
		tutorial: "Tutorial"
		video: "Video"
		link: "Link"

flash:
	articleWasAdded: "Article was added"
	imageWasUploaded: "Image was uploaded"
	articleWasUpdated: "Article was updated"