{*
	Edit : new
*}
{var $bodyClass = 'page-detail'}
{block title}{_ base.title.newArticle}{/block}
{block #content}
	<div class="container">

		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<h2>{_ base.title.newArticle}</h2>

				{include 'form.latte'}
			</div>
		</div>
	</div>
{/block}

{block scripts}
	{include parent}
	<script>
		var saveImagePath = {plink saveImage!}
	</script>
{/block}