{*
	Edit : new
*}
{block title}New article{/block}
{block #content}
	<div class="container">

		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<h2>New article</h2>

				{include 'form.latte'}
			</div>
		</div>
	</div>
{/block}

{block scripts}
	{include parent}
	<script>
		var saveImagePath = {plink saveImage!}
	</script>
{/block}