{var $bodyClass = 'page-detail'}

{block content}

<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-2">

			<h1 n:block=title>{_ ui.login}</h1>

			{control signInForm}

		</div>
	</div>
</div>