#main {
	padding-top: 30px;
	padding-bottom: 30px;
}

#wikimenu {
	top: 30px;
}

pre {
	box-shadow: none !important;
}

#bar {
	z-index: 200;
}


@media screen {
	a.b-tag__link {
		background: none !important;
	}

	.search-results .search-results-item-title {
		margin: 14px 0 0 0;
	}

	.search-results-item-title a {
		background: none !important;
	}

	h2 {
		font-size: 231% !important;
	}

	pre {
		position: static !important;
	}

}

.alert-info {
	color: #31708f !important;
}

.alert {
	position: absolute;
	z-index: 10;
	width: 80%;
	margin-top: 145px;
	left: 10%;
}


div.alert{
	-webkit-animation:fadeOut 4s;
	animation:fadeOut 4s;
	-webkit-animation-fill-mode:forwards;
	animation-fill-mode: forwards;
	pointer-events: none;
}

@-webkit-keyframes fadeOut {
	0% {
		-webkit-transform:scale(1);
		transform: scale(1);
		opacity: 1;
	}
	70% {
		-webkit-transform:scale(1);
		transform: scale(1);
		opacity: 1;
	}
	100% {
		-webkit-transform:scale(2);
		transform: scale(2);
		opacity: 0;
		display:none;
	}
}

@keyframes fadeOut {
	0% {
		-webkit-transform:scale(1);
		transform: scale(1);
		opacity: 1;
	}
	70% {
		-webkit-transform:scale(1);
		transform: scale(1);
		opacity: 1;
	}
	100% {
		-webkit-transform:scale(2);
		transform: scale(2);
		opacity: 0;
		display:none;
	}
}